.mm_container {
  /*主体内容*/
}
.mm_container .mm_header {
  background-color: #F4483E;
}
.mm_container .mm_coupon {
  width: 100%;
  padding-top: .27rem;
  background-color: #fff;
}
.mm_container .mm_coupon ul {
  padding: 0 .13rem;
}
.mm_container .mm_coupon ul li {
  width: 33.33%;
  height: 2.3rem;
  float: left;
  padding-right: .16rem;
  padding-top: .13rem;
  box-sizing: border-box;
}
.mm_container .mm_coupon ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: .07rem;
}
.mm_container .mm_coupon ul li a img {
  width: 1.33rem;
  height: 1.33rem;
  margin: .1rem auto;
}
.mm_container .mm_coupon ul li a p {
  font-size: .3rem;
}
.mm_container .mm_coupon ul li:nth-child(3n) {
  padding-right: 0;
}
