.product {
  width: 100%;
  padding: .13rem;
  background-color: #fff;
}
.product li {
  width: 50%;
  float: left;
  margin-bottom: .13rem;
  height: 5.8rem;
}
.product li img {
  width: 3.9rem;
  margin: 0 auto;
}
.product li h3 {
  color: black;
  font-size: .3rem;
}
.product li p {
  height: .5rem;
  line-height: .5rem;
}
.product li p.red {
  color: red;
  font-size: .3rem;
}
.product li p.size {
  color: #979391;
  font-size: 0.27rem;
}
