.info {
  width: 100%;
  padding: .27rem;
  background-color: #fff;
}
.info .title {
  width: 100%;
}
.info .title h3 {
  font-size: .5rem;
  font-weight: 700;
  color: black;
}
.info .title2 {
  width: 100%;
  padding: .27rem 0;
  font-size: .3rem;
}
.info .title2 p {
  color: #958e8c;
}
.info .particulars_left {
  width: 6.7rem;
  font-size: .3rem;
}
.info .particulars_right {
  width: 2.67rem;
}
.info .tishi {
  margin: .13rem 0;
}
.info .tishi p {
  font-size: .29rem;
}
.info .available {
  width: 100%;
}
.info .available ul {
  width: 3.6rem;
  border: 1px solid #c4c4c4;
  box-shadow: 0 0 .07rem  #958e8c;
  margin: .27rem auto 0;
  padding: .27rem;
}
.info .available ul li {
  height: .53rem;
  line-height: .53rem;
  border-bottom: 1px dashed red;
  padding: 0 .13rem;
}
.info .available ul li span {
  font-size: .2rem;
}
.info .available ul li span strong {
  color: red;
  float: right;
}
.info .buy {
  width: 100%;
  padding: .27rem;
  margin-top: .27rem;
}
.info .buy a {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  background-color: #ff9000;
  color: #fff;
  text-align: center;
  border-radius: .07rem;
}
.info .code {
  margin-top: .27rem;
}
.info .tit {
  font-size: .4rem;
  margin-top: .4rem;
}
.info .form {
  width: 100%;
  padding: .13rem;
}
.info .form textarea {
  width: 100%;
  height: 2.07rem;
  border: 1px solid #ccc;
  border-radius: .07rem .07rem 0 0;
}
.info .ctrl {
  width: 100%;
  height: .6rem;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 .07rem .07rem ;
}
.info .ctrl input {
  width: 1.73rem;
  height: .6rem;
  background-color: #ff841d;
  float: right;
  border: none;
  border-radius: .07rem;
  color: #fff;
}
.info .list {
  overflow: hidden;
  margin-top: .27rem;
}
.info .list .ui-border-b {
  width: 100%;
  height: 2.67rem;
}
.info .list .ui-border-b .userimg {
  width: 1.33rem;
  height: 1.33rem;
  float: left;
}
.info .list .ui-border-b .userimg img {
  border-radius: 50%;
}
.info .list .ui-border-b .con {
  float: left;
  padding-left: .27rem;
  width: 8.07rem;
  font-size: .19rem;
}
.info .list .ui-border-b .con .username {
  float: left;
  color: aqua;
}
.info .list .ui-border-b .con .time {
  float: right;
}
.info .list .ui-border-b .con .content {
  margin-top: .13rem;
  font-size: .27rem;
}
.info .list .ui-border-b .con .content img {
  width: 22px;
  height: 22px;
}
